[Unit]
Description=Ethiopian Airlines careers check

[Timer]
# Every two hours, every day.
OnCalendar=*-*-* 00/2:00:00
Persistent=true
AccuracySec=30s
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
